.form {
    width: 700px;
    background-color: #e5e5f7;

background: linear-gradient(135deg, #63636a55 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(225deg, #63636a 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(315deg, #63636a55 25%, transparent 25%) 0px 0/ 40px 40px, linear-gradient(45deg, #63636a 25%, #e5e5f7 25%) 0px 0/ 40px 40px;
}